<main class="px-3">
  <h1>Put your money where your mouth is.</h1>
  <p class="lead">
     <%= link_to("Start Arguing", new_pending_topic_path, class: 'btn btn-lg btn-secondary font-weight-bold border-white bg-white') %>
  </p>
</main>
