<div class= 'clearfix'>
<% if comment.owner == current_user%>
<div class='msg_cotainer_send float-right'>
<%= comment.content %></div><br/><br/>
<%else%>
<div class='msg_cotainer float-left'>
<%= comment.content %></div><br/><br/>

<%end%>
</div>
