<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Replies</th>
      <th>Wager</th>
      <th>Owner</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |cat| %>
    <tr class = "category-row">
      <td colspan = "9"><%= cat.name %></td>
    </tr>
<%= render @topics.where("category_id = ?", cat.id) %>


<% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Topic', new_pending_topic_path %>
