<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<div class = 'row justify-content-center'>
<div class ='container text-left pl-3' style= 'width: 32em'>
    <% @categories.each do |cat| %>
    <%if ((cat.topics).any? {|topic| topic.open}) or ((cat.topics).none?)%>

        <%= link_to cat.name, cat, class: 'btn btn-light m-2 ml-4', style: 'width: 7.6em'%>

      <%end%>
      <% end %>


</div>
</div>
<br>
<%=link_to "New Category", new_category_path, class: 'btn btn-primary' %>
<%= link_to "Browse All Open Topics", topics_path, class: 'btn btn-light'%>
